<h1>Add a Recipe</h1>
<% if @recipe %>
  <% @recipe.errors.full_messages.each do |error| %>
    <div class="alert alert-danger"><%= error %></div>
  <% end %>
<% end %>
<% if @tag %>
  <% @tag.errors.full_messages.each do |error| %>
    <div class="alert alert-danger"><%= error %></div>
  <% end %>
<% end %>

<form action="/recipes/new" method="post">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name" placeholder="e.g. Cyanide and Happiness Casserole" value="<%= @recipe.name if @recipe %>">
  </div>

  <div class="form-group">
    <label for="instructions">Instructions</label>
    <textarea name="instructions" class="form-control" rows="8" cols="40" placeholder="e.g. Mix Cyanide with a premade Casserole"><%= @recipe.instructions if @recipe %></textarea>
  </div>

  <div class="form-group">
    <label for="tag">Tags</label>
    <textarea name="tag" rows="2" cols="40" class="form-control" placeholder="enter, your, tags, separated, by, commas"><%= @tag_string if @tag_string %></textarea>
  </div>
  <button class="btn btn-primary btn-md">Add</button>
</form>
