<div class="recipe-card">
  <h1>Edit <%= @recipe.name %></h1>
  <div class="card-main">
    <form action="/recipes/<%= @recipe.id %>" method="post">
      <input type="hidden" name="_method" value="patch">

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" value="<%= @recipe.name %>">
      </div>

      <div class="form-group">
        <div class="input_fields_wrap">
          <label for="ingredients[]">Ingredients</label>
          <div class="">
            <% @recipe.used_ingredients.each do |ingredient| %>
            <div class="jk-ingredients">
              <input type="text" class="form-control jk-amount" name="amounts[]" value="<%= ingredient.amount %>"><input type="text" class="form-control jk-ingredient" name="ingredients[]" value="<%= ingredient.ingredient.ingredient %>">
              <a href="/ingredients/delete/<%= ingredient.ingredient.id %>/?ref=<%= @recipe.id %>">Remove</a>
            </div>
            <% end %>
          </div>
        </div>
        <button class="btn btn-default btn-sm add_field_button">Add More Ingredients</button>
      </div>

      <div class="form-group">
        <label for="instructions">Instructions</label>
        <textarea type="text" class="form-control" name="instructions" rows="8"><%= @recipe.instructions.gsub(/<br>/, "\n") %></textarea>
      </div>

      <div class="form-group">
        <label for="tags">Tags:</label>
        <textarea type="text" class="form-control" name="tags" rows="2"><% a = []%><% @recipe.categories.each {|category| a.push(category.tag) } %><% a = a.join(", ") %><%= a %></textarea>
      </div>

      <button class="btn btn-default btn-md">Edit</button>

    </form>
  </div>
</div>
